1 VERSIONINFO
FILEVERSION 31,0,3,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "OBS Project"
      VALUE "FileDescription", "OBS Library D3D11 wrapper"
      VALUE "FileVersion", "31.0.3"
      VALUE "ProductName", "OBS Studio"
      VALUE "ProductVersion", "31.0.3"
      VALUE "Comments", "Free and open source software for video recording and live streaming"
      VALUE "LegalCopyright", "(C) Lain Bailey"
      VALUE "InternalName", "libobs-d3d11"
      VALUE "OriginalFilename", "libobs-d3d11"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
